:root {
    --base-color-black: rgba(0, 0, 0, 1);
    --base-color-blues-blue-10: rgba(232, 241, 252, 1);
    --base-color-blues-blue-100: rgba(2, 23, 46, 1);
    --base-color-blues-blue-20: rgba(207, 227, 250, 1);
    --base-color-blues-blue-30: rgba(156, 197, 244, 1);
    --base-color-blues-blue-40: rgba(89, 166, 255, 1);
    --base-color-blues-blue-50: rgba(33, 135, 255, 1);
    --base-color-blues-blue-60: rgba(0, 107, 232, 1);
    --base-color-blues-blue-70: rgba(0, 86, 186, 1);
    --base-color-blues-blue-80: rgba(7, 42, 200, 1);
    --base-color-blues-blue-90: rgba(5, 44, 90, 1);
    --base-color-grays-gray-00: rgba(250, 250, 250, 1);
    --base-color-grays-gray-10: rgba(244, 244, 244, 1);
    --base-color-grays-gray-10-25: rgba(244, 244, 244, 0.25);
    --base-color-grays-gray-10-hover: rgba(229, 229, 229, 1);
    --base-color-grays-gray-100: rgba(22, 22, 22, 1);
    --base-color-grays-gray-20: rgba(224, 224, 224, 1);
    --base-color-grays-gray-20-hover: rgba(202, 202, 202, 1);
    --base-color-grays-gray-30: rgba(198, 198, 198, 1);
    --base-color-grays-gray-40: rgba(168, 168, 168, 1);
    --base-color-grays-gray-50: rgba(141, 141, 141, 1);
    --base-color-grays-gray-60: rgba(111, 111, 111, 1);
    --base-color-grays-gray-70: rgba(82, 82, 82, 1);
    --base-color-grays-gray-80: rgba(57, 57, 57, 1);
    --base-color-grays-gray-90: rgba(38, 38, 38, 1);
    --base-color-greens-green-10: rgba(212, 241, 220, 1);
    --base-color-greens-green-20: rgba(167, 240, 186, 1);
    --base-color-greens-green-30: rgba(104, 221, 137, 1);
    --base-color-greens-green-40: rgba(66, 190, 101, 1);
    --base-color-greens-green-50: rgba(36, 161, 72, 1);
    --base-color-greens-green-60: rgba(29, 130, 58, 1);
    --base-color-greens-green-70: rgba(22, 99, 44, 1);
    --base-color-greens-green-80: rgba(18, 65, 31, 1);
    --base-color-greens-green-90: rgba(10, 35, 17, 1);
    --base-color-red-red-10: rgba(252, 233, 233, 1);
    --base-color-red-red-100: rgba(42, 4, 4, 1);
    --base-color-red-red-20: rgba(248, 206, 206, 1);
    --base-color-red-red-30: rgba(240, 152, 152, 1);
    --base-color-red-red-40: rgba(249, 81, 81, 1);
    --base-color-red-red-50: rgba(247, 22, 22, 1);
    --base-color-red-red-60: rgba(200, 7, 7, 1);
    --base-color-red-red-70: rgba(161, 6, 6, 1);
    --base-color-red-red-80: rgba(122, 4, 4, 1);
    --base-color-red-red-90: rgba(79, 7, 7, 1);
    --base-color-transparent: rgba(255, 255, 255, 0);
    --base-color-white: rgba(255, 255, 255, 1);
    --base-color-white-hover: rgba(232, 232, 232, 1);
    --base-color-yellows-yellow-10: rgba(252, 244, 214, 1);
    --base-color-yellows-yellow-100: rgba(28, 21, 0, 1);
    --base-color-yellows-yellow-20: rgba(253, 220, 105, 1);
    --base-color-yellows-yellow-30: rgba(241, 194, 27, 1);
    --base-color-yellows-yellow-40: rgba(210, 161, 6, 1);
    --base-color-yellows-yellow-50: rgba(178, 134, 0, 1);
    --base-color-yellows-yellow-60: rgba(142, 106, 0, 1);
    --base-color-yellows-yellow-70: rgba(104, 78, 0, 1);
    --base-color-yellows-yellow-80: rgba(72, 55, 0, 1);
    --base-color-yellows-yellow-90: rgba(48, 36, 0, 1);
    --base-spacing-16: 16px;
    --base-spacing-2: 2px;
    --base-spacing-20: 20px;
    --base-spacing-24: 24px;
    --base-spacing-32: 32px;
    --base-spacing-4: 4px;
    --base-spacing-40: 40px;
    --base-spacing-48: 48px;
    --base-spacing-64: 64px;
    --base-spacing-8: 8px;
    --base-spacing-80: 80px;
    --box-shadow-01: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    --colors-background-bg: var(--base-color-white);
    --colors-background-bg-brand: var(--base-color-blues-blue-80);
    --colors-background-bg-interactive-primary: var(--base-color-blues-blue-60);
    --colors-background-bg-interactive-primary-hover: var(
      --base-color-blues-blue-70
    );
    --colors-background-bg-interactive-secondary: var(--base-color-transparent);
    --colors-background-bg-interactive-secondary-hover: var(
      --base-color-white-hover
    );
    --colors-background-bg-interactive-tertiary: var(--base-color-transparent);
    --colors-background-bg-interactive-tertiary-hover: var(
      --base-color-white-hover
    );
    --colors-background-bg-inverse: var(--base-color-grays-gray-80);
    --colors-background-bg-post: var(--base-color-grays-gray-10);
    --colors-border-border-error: var(--base-color-red-red-70);
    --colors-border-border-interactive-primary: var(--base-color-blues-blue-60);
    --colors-border-border-interactive-secondary: var(--base-color-blues-blue-60);
    --colors-border-border-interactive-tertiary: var(--base-color-transparent);
    --colors-border-border-inverse: var(--base-color-grays-gray-100);
    --colors-border-border-strong-01: var(--base-color-grays-gray-50);
    --colors-border-border-strong-02: var(--base-color-grays-gray-60);
    --colors-border-border-subtle-01: var(--base-color-grays-gray-20);
    --colors-border-border-subtle-02: var(--base-color-grays-gray-30);
    --colors-text-text-error: var(--base-color-red-red-70);
    --colors-text-text-interactive-primary: var(--base-color-white);
    --colors-text-text-interactive-secondary: var(--base-color-blues-blue-60);
    --colors-text-text-interactive-tertiary: var(--base-color-blues-blue-60);
    --colors-text-text-link: var(--base-color-blues-blue-60);
    --colors-text-text-on-color: var(--base-color-white);
    --colors-text-text-primary: var(--base-color-grays-gray-100);
    --colors-text-text-secondary: var(--base-color-grays-gray-70);
    --devider-02: rgba(0, 0, 0, 0.04);
    --ffffff: rgba(255, 255, 255, 1);
    --heading-text-heading-2-font-family: "Roboto Mono", Helvetica;
    --heading-text-heading-2-font-size: 40px;
    --heading-text-heading-2-font-style: normal;
    --heading-text-heading-2-font-weight: 500;
    --heading-text-heading-2-letter-spacing: 0px;
    --heading-text-heading-2-line-height: 100%;
    --heading-text-heading-3-font-family: "Roboto", Helvetica;
    --heading-text-heading-3-font-size: 24px;
    --heading-text-heading-3-font-style: normal;
    --heading-text-heading-3-font-weight: 400;
    --heading-text-heading-3-letter-spacing: 0px;
    --heading-text-heading-3-line-height: 26px;
    --heading-text-heading-4-font-family: "Roboto", Helvetica;
    --heading-text-heading-4-font-size: 16px;
    --heading-text-heading-4-font-style: normal;
    --heading-text-heading-4-font-weight: 600;
    --heading-text-heading-4-letter-spacing: 0px;
    --heading-text-heading-4-line-height: 18px;
    --nav-link-01-font-family: "Roboto", Helvetica;
    --nav-link-01-font-size: 14px;
    --nav-link-01-font-style: normal;
    --nav-link-01-font-weight: 400;
    --nav-link-01-letter-spacing: 0.56px;
    --nav-link-01-line-height: 16px;
    --paragraph-p2-font-family: "Roboto", Helvetica;
    --paragraph-p2-font-size: 12px;
    --paragraph-p2-font-style: normal;
    --paragraph-p2-font-weight: 400;
    --paragraph-p2-letter-spacing: 0.24px;
    --paragraph-p2-line-height: 20px;
    --system-colors-grays-black: rgba(0, 0, 0, 1);
    --text-bold-font-family: "Roboto", Helvetica;
    --text-bold-font-size: 14px;
    --text-bold-font-style: normal;
    --text-bold-font-weight: 600;
    --text-bold-letter-spacing: 0px;
    --text-bold-line-height: 16px;
    --text-normal-font-family: "Roboto", Helvetica;
    --text-normal-font-size: 14px;
    --text-normal-font-style: normal;
    --text-normal-font-weight: 400;
    --text-normal-letter-spacing: 0px;
    --text-normal-line-height: 16px;
    --text-small-bold-font-family: "Roboto", Helvetica;
    --text-small-bold-font-size: 12px;
    --text-small-bold-font-style: normal;
    --text-small-bold-font-weight: 600;
    --text-small-bold-letter-spacing: 0px;
    --text-small-bold-line-height: 14px;
    --text-small-font-family: "Roboto", Helvetica;
    --text-small-font-size: 12px;
    --text-small-font-style: normal;
    --text-small-font-weight: 400;
    --text-small-letter-spacing: 0px;
    --text-small-line-height: 14px;
    --text-underline-font-family: "Roboto", Helvetica;
    --text-underline-font-size: 14px;
    --text-underline-font-style: normal;
    --text-underline-font-weight: 400;
    --text-underline-letter-spacing: 0px;
    --text-underline-line-height: 16px;
    --text-uppercase-font-family: "Roboto", Helvetica;
    --text-uppercase-font-size: 14px;
    --text-uppercase-font-style: normal;
    --text-uppercase-font-weight: 400;
    --text-uppercase-letter-spacing: 0px;
    --text-uppercase-line-height: 16px;
    --textblue: rgba(0, 102, 204, 1);
    --title-h3-font-family: "Roboto", Helvetica;
    --title-h3-font-size: 14px;
    --title-h3-font-style: normal;
    --title-h3-font-weight: 400;
    --title-h3-letter-spacing: 0.56px;
    --title-h3-line-height: 16px;
  }